body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Exo", sans-serif;
  transition: 5s;
}
body:hover {
  background: hsla(215, 66%, 94%, 0.733);
}

/*THE NAVBAR PART*/
.navbar {
  background: hsla(215, 66%, 94%, 0.733);
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid;
  box-shadow: rgba(0, 0, 0, 0.5);
}
.logo {
  width: 8rem;
  height: 5rem;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 45rem;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  margin-right: 0.5rem;
  letter-spacing: 1px;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(126, 77, 65);
}

.nav-links a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 740px) {
  .navbar {
    width: 47rem;
  }
}
