* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*BUTTON STYLES*/
.btn-primary {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.45rem 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  background: transparent;
  display: inline-block;
  cursor: pointer;
  background: #1f7f85d6;
  text-decoration: none;
  outline: none;
}
.btn-primary:hover {
  background: #1fe2f0d6;
}

/*Global styles*/
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Exo", sans-serif;
  transition: 5s;
}
body:hover {
  background: hsla(215, 66%, 94%, 0.733);
}
img {
  width: 100%;
  display: block;
}

/*THE NAVBAR PART*/
.navbar {
  background: hsla(215, 66%, 94%, 0.733);
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid;
  box-shadow: rgba(0, 0, 0, 0.5);
}
.navbar:hover {
  background: rgba(164, 170, 157, 0.712);
}
.logo {
  width: 8rem;
  height: 5rem;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 57rem;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  margin-right: 0.5rem;
  letter-spacing: 1px;
  padding: 0.25rem 0.3rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(126, 77, 65);
}

.nav-links a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 740px) {
  .navbar {
    width: 47rem;
  }
}

/*THIS IS FOR SEARCH FORM*/
.search {
  margin-top: 4rem;
  padding-bottom: 4rem;
}
.search-form {
  width: 24rem;
  margin: 0 auto;
  max-width: 1170px;
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: 5px;
  box-shadow: 2px 5px 3px 0px rgba(44 29 29 / 50%);
  background: beige;
}
.form-type label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(126, 77, 65);
  text-align: center;
}
.form-type input {
  width: 100%;
  border: none;
  border-color: transparent;
  border-radius: 5px;
  padding: 0.5rem;
  outline: none;
}
@media screen and (max-width: 1024px) {
  .search-form {
    width: 25rem;
    margin: 0 auto;
  }
  .search {
    width: 40rem;
  }
}

/*THIS IS COCKTAIL LIST CSS*/
.list-content {
  padding: 5rem 0;
}
.list-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cocktail-list {
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
  /* display: grid;
  row-gap: 2rem;
  column-gap: 2rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 721px) {
  .cocktail-list {
    width: 40rem;
    margin-left: 50px;
  }
}
@media screen and (max-width: 821px) {
  .list-title {
    width: 45rem;
  }
}

/*SINGLE COCKTAIL ON MAIN PAGE*/
.cocktail {
  width: 22rem;
  background: #6ca9bc94;
  margin-bottom: 2rem;
  box-shadow: 2px 5px 3px 0px rgba(44 29 29 / 50%);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: 5px;
  transition: all 0.3s linear;
}
.cocktail:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.cocktail-footer {
  padding: 1.5rem;
}
.cocktail-footer h3,
.cocktail-footer h4,
.cocktail-footer p {
  margin-bottom: 0.3rem;
}
.cocktail-footer h3 {
  font-size: 1.85rem;
}

@media screen and (max-width: 821px) {
  .cocktail {
    width: 100%;
  }
}

/*SINGLE LIST COCKTAIL*/
.drink {
  margin: 0 auto;
  text-align: left;
  width: 75rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.drink img {
  border-radius: 17px;
}
.drink p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
  font-size: 1.6rem;
}
.drink span {
  margin-right: 0.5rem;
}
.drink-data {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  color: aqua;
  background: blue;
}
.drink-info {
  padding-top: 2rem;
  padding: 3rem;
}
@media screen and (max-width: 1210px) {
  .drink {
    flex-direction: column;
    width: 90%;
    margin-left: 47px;
  }
}

/*ERROR*/
.error-page {
  display: flex;
  justify-content: center;
}
.error-container {
  text-align: center;
  text-transform: capitalize;
}
/*ABOUT PAGE*/
.about-section {
  width: 85vw;
  max-width: 1170px;
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
